<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tableau de bord Agent de la sécurité</title>
</head>
<body>
    <form action="{% url 'envoiContravention' %}">
        <p>Rédiger une contravention</p>
        <label>Destinataire</label>
        <input type="text" placeholder="Auteur de l'infraction" name="destinataire">
        <label>Type de contravention</label>
        <select name="categorie">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
        </select>
        <label>Contenu</label>
        <input type="text" placeholder="Corps de la contravention" name="contenu">
        <input type="submit" value="Soumettre">
    </form>
</body>
</html>