
 {% load static %}

 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <title>Projet MongoDB</title> 
   <link rel="icon" href="{% static 'img/Fevicon.png' %}" type="image/png">

   <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
   <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' % }">
   <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
   <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
   <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'vendors/flat-icon/font/flaticon.css' %}">
   <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">
 
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="{% static 'css/mycss.css' %}">


   <style>
    body {
        position: relative; 
    } 
    
    #permis{padding-top:50px;height:500px;color: #fff; background-color: #3a42b7af;}
     
    </style>
  
 </head>
 <body>

    <nav id="myNavbar" class="navbar fixed-top navbar-dark bg-primary">  
      <a class="navbar-brand" href="#">PermisAPoint</a>
         
        <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#home" id="btnhome" style="color: #fff;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#permis" id="btnpermis" style="color: #fff;">Permis à points</a>
        </li>
        <li class="active nav-item">
            <a class="nav-link" href="#infractions" id="btninfractions" style="color: #fff;">Infractions & législations</a>
        </li> 

        </ul> 

        <ul class="nav  navbar-right">
        <li class="nav-item"><a class="nav-link" href="{% url 'to_authenticate' %}" style="color: #fff;"><span class="fas fa-user"></span> S'authentifier</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'choice_login' %}" style="color: #fff;"><span class="fas fa-sign-in-alt"></span> Se connecter</a></li>
        </ul>  
    
    </nav> 

  <section data-spy="scroll" data-target="#myNavbar" data-offset="0">

    <section class="hero-banner magic-ball" id="home">
        <div class="container">
    
          <div class="row align-items-center text-center text-md-left">
            <div class="row">
              <div class="col-md-12">
                <h1 style="color: #fff;text-align: center;">Bienvenue sur la plateforme de gestion des permis à points</h1>
              </div>
              <div class="offset-md-5 col-md-3" style="margin-bottom: 20px;">
                <a class="button button-hero" href="{% url 'choice_login' %}">Se connecter</a>
              </div>
            </div>
            <div class="offset-md-3 col-md-6" style="margin-bottom: 20px;">
              <img class="img-fluid" src="{% static 'img/permis/permis1.jpeg' %}" style="width:100%; border-radius: 25%;" alt="">
            </div>
          </div>
        </div>
    </section>

        <!--================Permis à points =================-->
  <section class="hero-banner magic-ball" id="permis">
    <div class="container">
        <div class="row align-items-center" style="margin-top: 50px;">
          <div class="col-md-6">
            <div class="about-img">
              <img class="img-fluid" src="{% static 'img/permis/retir.jpeg' %}" style=width:100% alt="">
            </div>
          </div>
          <div class="col-md-6">
            <h2>Le point sur les permis à points</h2>
            <div style="color: #000;"> <h5>Un paradigme moderne: </h5> Le droit relatif au permis de conduire a connu des évolutions marquantes,
              la plus importante étant bien entendu celle qui a consisté à « marquer » 
              chaque permis de conduire d’un nombre de points susceptibles d’être perdus, 
              et donc d’entrainer l’annulation du permis. <div id="more"> <h5>Fonctionnement: </h5> En france par exemple, 
              c'est le permis à point qui fait la loi. Chaque conducteur possède un capital de 12 points. 
              Il exite également un permis dit probatoire, doté d’un capital de 6 points pour tout nouveau 
              titulaire du permis de conduire. La période probatoire dure trois ans.

              Au terme de cette période de trois ans, chaque conducteur se voit doté d’un permis à 12 points, 
              sauf si des points ont été perdus.
              
              Lorsque vous avez épuisé votre capital par la perte de tous vos points, votre permis est annulé. 
              Il vous faut alors repasser les épreuves et subir un examen médical et psychotechnique pour retrouver votre permis.
              
              Le premier permis qui est délivré après réussite aux épreuves du permis de conduire, 
              ou le deuxième permis lorsqu’on a subi une annulation de permis de conduire, sera un permis probatoire.
              
              Comme son nom l’indique, il est destiné à vous permettre de faire vos preuves au volant avant de 
              bénéficier du capital complet de 12 points.
              
              Il comporte seulement un capital de 6 points pendant une période de 3 ans, et au bout de 3 ans sans 
              infractions, le capital est porté automatiquement à 12 points.
              
              Si vous commettez des infractions au Code de la Route, des points seront retirés de votre permis de 
              conduire. <h5>Récupération des points: </h5> Il existe plusieurs façons de récupérer ses points :
              -  Soit automatiquement.
              -  Soit en suivant un stage de sensibilisation à la sécurité routière. </div> </div>
            <button class="button button-hero" id="btnmore">Voir plus</button>
            <button class="button button-hero" id="btnless">Moins</button>
          </div>
      </div>
    </div>
  </section>
  <!--===============End of permis à points =================--> 

   <!--================Infractions =================-->
   <section id="infractions" style="margin-top: 70px; margin-bottom: 70px;">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="{% static 'img/permis/auto.jpeg' %}" alt="">
        <h2>Nul n'est au-dessus de la loi</h2>
        <p>Découvrez ici les actes à ne pas faire sur la route et maximisez vos points </p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="{% static 'img/permis/infraction.jpeg' %} "  alt="">
            </div>
            <div class="service-card-body">
              <h3>infraction</h3>
              <p>Sur la route, des règles de bonne conduite doivent être appliquées. Celui qui ne respecte pas le code de la route encourt des sanctions : amende, retrait de points de permis de conduire, voire sa suspension.

                En cas d'infraction routière, le montant de l'amende à payer dépend de la gravité de contravention, classée en 5 catégories. Plus l'infraction est grave, plus l'amende est importante</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="{% static 'img/permis/avis.jpeg' %}"  alt="">
            </div>
            <div class="service-card-body">
              <h3>Avis de contravention</h3>
              <p>L'avis de contravention est le document remis par les forces de l'ordre lors de la contestation d'une infraction ou envoyé ultérieurement en cas de traitement automatisé des contraventions</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="{% static 'img/permis/retir.jpeg' %}"  alt="">
            </div>
            <div class="service-card-body">
              <h3>Retrait de points</h3>
              <p>Quelle que soit la date d’obtention de votre permis et sa catégorie, des points peuvent vous être retirés si vous commettez une infraction. Le nombre de points retirés peut varier de 1 à 6 et ne peut pas dépasser 8 si plusieurs infractions sont commises en même temps</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End of infractions =================-->

</section>

  <!-- ================ start footer Area ================= -->
  <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>A propos</h6>
            <p>
              Ce site a été érigé dans le cadre du projet de base de données NoSQL, à l'Ecole Polytechnique de Thiès.
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4.col-sm-6"></div>

        <div class="col-lg-3 col-md-4.col-sm-6">
          <div class="single-footer-widget">
            <h6>Liens de Navigation</h6>
            <div class="row">
              <div class="col">
                <ul>
                  <li><a href="#home">Home</a></li>
                  <li><a href="#permis">Permis à point</a></li>
                  <li><a href="#infractions">Infractions et législations</a></li> 
                </ul>
              </div> 
          </div>
        </div> 		
      </div>
    </div>
      <div class="footer-bottom">
        <div class="row align-items-center">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-center"> 
              Copyright &copy;<script>document.write(new Date().getFullYear());</script></p>
  
        </div>
      </div>
    
  </footer>
  <!-- ================ End footer Area ================= -->

 </body>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/myscript.js' %}"></script>

</html>
 
 